a {
    text-decoration: none;
}

#navbar_hom {
    z-index: 997;
    padding: 15px 0;
    background: rgba(40, 58, 90, 0.9)
}

#navbar_hom .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#navbar_hom .logo a {
    color: #fff;
}

#navbar_hom .logo img {
    max-height: 40px;
}

.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #47b2e4;
}

.navbar .getstarted,
.navbar .getstarted:focus {
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 50px;
    color: #fff;
    font-size: 14px;
    border: 2px solid #47b2e4;
    font-weight: 600;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
    color: #fff;
    background: #31a9e1;
}

.navlink {
    text-decoration: none;
}

.dropdown a {
    text-decoration: none !important;
}

.getstarted {
    text-decoration: none;
}

.logo a {
    text-decoration: none;
}
/* home */
#home {
    width: 100%;
    height: 80vh;
    background: #37517e;
}

#home .container {
    padding-top: 130px;
}

#home h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}

#home h2 {
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 50px;
    font-size: 24px;
}

#home .homget {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px 0 0 0;
    color: #fff;
    background: #47b2e4;
    text-decoration: none;
}

#home .homget:hover {
    background: #209dd8;
}

#home .homvi {
    font-size: 16px;
    display: flex;
    align-items: center;
    transition: 0.5s;
    margin: 10px 0 0 25px;
    color: #fff;
    line-height: 1;
    text-decoration: none;
}

#home .homvi i {
    line-height: 0;
    color: #fff;
    font-size: 32px;
    transition: 0.3s;
    margin-right: 8px;
}

#home .homvi:hover i {
    color: #47b2e4;
}
/* homebanner */
.hombanner {
    padding: 12px 0;
    text-align: center;
    background-color: #f3f5fa;
    margin-bottom: 60px;
}

.hombanner img {
    max-width: 45%;
    display: inline-block;
    padding: 15px 0;
}
/* about */
section {
    padding: 60px 0;
    overflow: hidden;
}

.section-bg {
    background-color: #f3f5fa;
}

.name {
    text-align: center;
    padding-bottom: 30px;
}

.name h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #37517e;
}

.name h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.name h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #47b2e4;
    bottom: 0;
    left: calc(50% - 20px);
}

.name p {
    margin-bottom: 0;
}

.about {
    margin-bottom: 60px;
}

.about ul {
    padding: 0;
    list-style: none;
}

.about .content ul li {
    padding-left: 28px;
    position: relative;
}

.about .content ul i {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 20px;
    color: #47b2e4;
    line-height: 1;
}

.about .content .btn {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 4px;
    transition: 0.3s;
    line-height: 1;
    color: #47b2e4;
    margin-top: 6px;
    border: 2px solid #47b2e4;
    text-decoration: none;
}
/* eum */
.eum {
    padding-top: 50px;
    padding-bottom: 40px;
    margin-bottom: 50px;
}
.sp{
    color: #47b2e4;
    font-weight: 600;
    font-size: 18px;
    padding-right: 10px;
}
.eumna{
    color: #47b2e4 !important;
}


.eumtext h3 {
    font-weight: 400;
    font-size: 34px;
    color: #37517e;
}

.eumtext h4 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
}

.eumtext p {
    font-size: 15px;
    color: #848484;
}

.eum .img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.eum .accordion {
    padding-top: 10px;
}

.eum .accordion-item {
    margin-top: 10px;
}
/* volup */
.volup {
    margin-bottom: 50px;
}

.volup .content h3 {
    font-weight: 700;
    font-size: 32px;
    color: #37517e;
    font-family: "Poppins", sans-serif;
}

.volup .content ul {
    list-style: none;
    padding: 0;
}

.volup .content ul li {
    padding-bottom: 10px;
}

.volup .content ul i {
    font-size: 20px;
    padding-right: 4px;
    color: #47b2e4;
}

.volup .progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
}

.volup .progress .volup {
    padding: 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    color: #37517e;
}

.foiz {
    float: right;
    font-style: normal;
}

.progress2 {
    background: #e8edf5;
    height: 10px;
}

.volup .progress-bar {
    width: 1px;
    height: 10px;
    transition: 0.9s;
    background-color: #4668a2;
}