a {
    text-decoration: none;
}

#navbar_hom {
    z-index: 997;
    padding: 15px 0;
    background: rgba(40, 58, 90, 0.9)
}

#navbar_hom .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#navbar_hom .logo a {
    color: #fff;
}

#navbar_hom .logo img {
    max-height: 40px;
}

.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #47b2e4;
}

.navbar .getstarted,
.navbar .getstarted:focus {
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 50px;
    color: #fff;
    font-size: 14px;
    border: 2px solid #47b2e4;
    font-weight: 600;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
    color: #fff;
    background: #31a9e1;
}

.navlink {
    text-decoration: none;
}

.dropdown a {
    text-decoration: none !important;
}

.getstarted {
    text-decoration: none;
}

.logo a {
    text-decoration: none;
}
/* home */
#home {
    width: 100%;
    height: 80vh;
    background: #37517e;
}

#home .container {
    padding-top: 130px;
}

#home h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}

#home h2 {
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 50px;
    font-size: 24px;
}

#home .homget {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px 0 0 0;
    color: #fff;
    background: #47b2e4;
    text-decoration: none;
}

#home .homget:hover {
    background: #209dd8;
}

#home .homvi {
    font-size: 16px;
    display: flex;
    align-items: center;
    transition: 0.5s;
    margin: 10px 0 0 25px;
    color: #fff;
    line-height: 1;
    text-decoration: none;
}

#home .homvi i {
    line-height: 0;
    color: #fff;
    font-size: 32px;
    transition: 0.3s;
    margin-right: 8px;
}

#home .homvi:hover i {
    color: #47b2e4;
}
/* homebanner */
.hombanner {
    padding: 12px 0;
    text-align: center;
    background-color: #f3f5fa;
    margin-bottom: 60px;
}

.hombanner img {
    max-width: 45%;
    display: inline-block;
    padding: 15px 0;
}
/* about */
section {
    padding: 60px 0;
    overflow: hidden;
}

.section-bg {
    background-color: #f3f5fa;
}

.name {
    text-align: center;
    padding-bottom: 30px;
}

.name h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #37517e;
}

.name h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.name h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #47b2e4;
    bottom: 0;
    left: calc(50% - 20px);
}

.name p {
    margin-bottom: 0;
}

.about {
    margin-bottom: 60px;
}

.about ul {
    padding: 0;
    list-style: none;
}

.about .content ul li {
    padding-left: 28px;
    position: relative;
}

.about .content ul i {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 20px;
    color: #47b2e4;
    line-height: 1;
}

.about .content .btn {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 4px;
    transition: 0.3s;
    line-height: 1;
    color: #47b2e4;
    margin-top: 6px;
    border: 2px solid #47b2e4;
    text-decoration: none;
}
/* eum */
.eum {
    padding-top: 50px;
    padding-bottom: 40px;
    margin-bottom: 50px;
}
.sp{
    color: #47b2e4;
    font-weight: 600;
    font-size: 18px;
    padding-right: 10px;
}
.eumna{
    color: #47b2e4 !important;
}


.eumtext h3 {
    font-weight: 400;
    font-size: 34px;
    color: #37517e;
}

.eumtext h4 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
}

.eumtext p {
    font-size: 15px;
    color: #848484;
}

.eum .img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.eum .accordion {
    padding-top: 10px;
}

.eum .accordion-item {
    margin-top: 10px;
}
/* volup */
.volup {
    margin-bottom: 50px;
}

.volup .content h3 {
    font-weight: 700;
    font-size: 32px;
    color: #37517e;
    font-family: "Poppins", sans-serif;
}

.volup .content ul {
    list-style: none;
    padding: 0;
}

.volup .content ul li {
    padding-bottom: 10px;
}

.volup .content ul i {
    font-size: 20px;
    padding-right: 4px;
    color: #47b2e4;
}

.volup .progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
}

.volup .progress .volup {
    padding: 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    color: #37517e;
}

.foiz {
    float: right;
    font-style: normal;
}

.progress2 {
    background: #e8edf5;
    height: 10px;
}

.volup .progress-bar {
    width: 1px;
    height: 10px;
    transition: 0.9s;
    background-color: #4668a2;
}
/* Servis */
.servic .icondiv {
    box-shadow: 0px 0 25px 0 rgb(0 0 0 / 10%);
    padding: 50px 30px;
    background: #fff;
}

.servic {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f3f5fa;
}

.icon {
    margin-bottom: 10px;
}

.icondiv h4 {
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 24px;
    color: #37517e;
}

.icondiv p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.icon i {
    color: #47b2e4;
    font-size: 36px;
    transition: 0.3s;
}
/* cal */
.cll {
    background: linear-gradient(rgba(40, 58, 90, 0.9), rgba(40, 58, 90, 0.9)), url(../img/cta-bg.jpg) fixed center center;
    background-size: cover;
    padding: 120px 0;
    margin-bottom: 10px;

}

.cll h3 {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}

.cll p {
    color: #fff;
}

.cllbtn {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
}

.cllbtn:hover {
    background: #47b2e4;
    border: 2px solid #47b2e4;
}
/* port */
.imgg{
    width: 100%;
}
.imgg2{
    display: flex;
    gap: 20px;
}
.imgg3{
    display: flex;
    gap: 20px;
}
.imgg4{
    gap: 20px;
}
.imgg5{
    margin-left: 905px;
    margin-top: -715px;
}
.card3{
   width: 430px;
   margin-left: 450px;
   margin-top: -120px; 
}
.card1{
    width: 430px;
}
.card2{
    width: 430px;
}
.portimg5{
    padding-top: -300px;
}
.portfolio{
    padding-top: 60px;
    padding-bottom: 60px;
    height: 1600px;
}
.portbut {
    text-align: center;
    margin-bottom: 20px;
}

.portbut button {
    cursor: pointer;
    display: inline-block;
    margin: 10px 5px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    color: #444444;
    transition: all 0.3s;
    padding: 8px 20px;
    border-radius: 50px;
    border: none;
    background-color: white;
}

.portbut .but {
    color: white;
    background: #47b2e4;
}

/* team */
.team {
    background-color: #f3f5fa;
    padding-top: 50px;
}

.teamdiv {
    position: relative;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 5px;
    background: #fff;
    transition: 0.5s;
    margin-bottom: 20px;
}

.pic {
    overflow: hidden;
    width: 180px;
    border-radius: 50%;
}



.teamtext {
    padding-left: 30px;
}

.teamdiv h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #37517e;
}

.teamdiv span {
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
}

.teamdiv span::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: #cbd6e9;
    bottom: 0;
    left: 0;
}

.teamdiv p {
    margin: 10px 0 0 0;
    font-size: 14px;
}

.teamlink {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.teamlink a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    background: #eff2f8;
}

.teamlink a i {
    color: #37517e;
    font-size: 16px;
    margin: 0 2px;
}

.teamlink a:hover {
    background: #47b2e4;
}

.teamlink a:hover i {
    color: #fff;
}

.teamlink a {
    margin-left: 8px;
}
/* prising */

.pricing {
    padding-top: 60px;
    margin-bottom: 60px;
}

.pr {
    padding-top: 40px;
}

.pricing_div {
    padding: 60px 40px;
    box-shadow: 0 3px 20px -2px rgb(20 45 100 / 10%);
    background: #fff;
    height: 100%;
    border-top: 4px solid #fff;
    border-radius: 5px;
}

.pricing_div h3 {
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 20px;
    color: #37517e;
}

.pricing_div h4 {
    font-size: 48px;
    color: #37517e;
    font-weight: 400;
    font-family: "Jost", sans-serif;
    margin-bottom: 25px;
}

.pricing_div h4 span {
    color: #47b2e4;
    font-size: 18px;
    display: block;
}

.pricing_div ul {
    padding: 20px 0;
    list-style: none;
    color: #999;
    text-align: left;
    line-height: 20px;
}

.pricing_div ul li {
    padding: 10px 0 10px 30px;
    position: relative;
}

.pricing_div ul .na {
    color: #ccc;
}

.pricing_div ul .na i {
    color: #ccc;
}

.pricing_div ul i {
    color: #28a745;
    font-size: 24px;
    position: absolute;
    left: 0;
    top: 6px;
}

.prbtn {
    display: inline-block;
    padding: 12px 35px;
    border-radius: 50px;
    color: #47b2e4;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
    border: 1px solid #47b2e4;
    text-decoration: none;
}

.prbtn2 {
    display: inline-block;
    padding: 12px 35px;
    border-radius: 50px;
    color: #47b2e4;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
    border: 1px solid #47b2e4;
    text-decoration: none;
}

.prbtn:hover {
    background: #47b2e4;
    color: #fff;
}

.na span {
    text-decoration: line-through;
}

.top {
    border-top-color: #47b2e4;
}

.prbtn2 {
    background: #47b2e4;
    color: #fff;
}

.prbtn2:hover {
    color: #47b2e4;
    background: white;
}
/* freq */
.freq {
    background-color: #f3f5fa;
    padding-top: 60px;
    padding-bottom: 60px;
}

.helpicon {
    font-size: 24px;
    position: absolute;
    right: 0;
    left: 20px;
    color: #47b2e4;
}

.freac .accordion-button span {
    display: block;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding: 0 30px;
    outline: none;
    cursor: pointer;
}

.freac .accordion-item {
    border-radius: 4px;
    margin-top: 10px;
}

.freac .accordion {
    padding: 0 100px;
}
/* conatact */
.contact {
    padding-top: 60px;
    padding-bottom: 60px;
}

.conmap {
    border-top: 3px solid #47b2e4;
    border-bottom: 3px solid #47b2e4;
    padding: 30px;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 24px 0 rgb(0 0 0 / 10%);
}

.conmap i {
    font-size: 20px;
    color: #47b2e4;
    float: left;
    width: 44px;
    height: 44px;
    background: #e7f5fb;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.conmap h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #37517e;
}

.conmap p {
    padding: 0 0 10px 60px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #6182ba;
}

.form {
    width: 100%;
    border-top: 3px solid #47b2e4;
    border-bottom: 3px solid #47b2e4;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 24px 0 rgb(0 0 0 / 12%);
}

.coninput {
    margin-bottom: 20px;
}
.coninput {
    padding-bottom: 8px;
}
.form label {
    padding-bottom: 3px;
}

.combut {
    text-align: center !important;
}

.combut button {
    background: #47b2e4;
    border: 0;
    padding: 12px 34px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px
}
/* joing */
.joing {
    padding: 50px 0;
    background: #f3f5fa;
    text-align: center;
    font-size: 15px;
    color: #444444;
}
.joingdiv {
    justify-content: center!important;
}
.joing h4 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    color: #37517e;
}
.joing form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 6%);
    text-align: left;
}
.joinin {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
}
.joinbut {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #47b2e4;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
}
/* footers */
.footer{
    font-size: 14px;
    background: #37517e;
}
.footers {
    padding: 60px 0 30px 0;
    background: #fff;
}
.fotercon h3 {
    font-size: 28px;
    margin: 0 0 10px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 600;
    color: #37517e;
}
.fotercon p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Jost", sans-serif;
    color: #5e5e5e;
}
strong {
    font-weight: bolder;
}
.footers h4 {
    font-size: 16px;
    font-weight: bold;
    color: #37517e;
    position: relative;
    padding-bottom: 12px;
}
.foter_link ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}
.foter_link ul li{
    margin-left: -25px !important;
}

.foter_link ul i {
    padding-right: 2px;
    color: #47b2e4;
    font-size: 18px;
    line-height: 1;
}
.foter_link ul a {
    color: #777777;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
    text-decoration: none;
}
.fotericon a {
    font-size: 18px;
    display: inline-block;
    background: #47b2e4;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}
.fotericon a:hover {
    background: #209dd8;
    color: #fff;
    text-decoration: none;
}
.footer_copy {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
}
.copy1 {
    float: left;
}
.copy2 {
    float: right;
    font-size: 13px;
}
.copy2 a{
    color: #47b2e4;
    text-decoration: none;
}